@using Restaurant.Models
@model List<Restaurant.Models.Restaurant>;

<h1>Restaurant List</h1>

@if (model.Count == 0)
{
  <h3>You haven't added any restauurants yet</h3>
}

@foreach(Restaurant restaurant in model)
{
  <li>@Html.ActionLink($"{restuarant.Name}", "Details", new {id = restuarnt.RestaurantId } | cuisine name here)</li>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>